#chatroom {
	position: absolute;
    overflow: hidden;
    border: 1px solid #e7eaf1;
    width: 1000px;
    box-sizing: border-box;
    height: 100%;
}

#logoContainer {
	position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eee;
    user-select: none;
    background-color: #fff;
}

#chatContainer {
    height: 100%;
    width: 100%;
}

#userList {
	overflow-y: auto;
    float: left;
    width: 15%;
    background-color: #fff;
    height: 100%;
}

#messageContainer {
	float: left;
    height: 100%;
    box-sizing: border-box;
    min-width: 300px;
    width: 85%;
    border-left: 1px solid #ececec;
    background-color: #fff;
}

#messageList {
	height: 69%;
	border-bottom: 1px solid #ddd;
	overflow: auto;
	box-sizing: border-box;
}
#messageList::-webkit-scrollbar  
{  
    width: 8px;  
    background-color: #F5F5F5;  
}
  
/*定义滚动条轨道 内阴影+圆角*/  
#messageList::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
#messageList::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #999;  
}  
	


#sendMessage {
	width: 100%;
	position: relative;
	height: 11%;
}

#messageTxt {
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: none;
	padding: 5px 10px;
	line-height: 22px;
	color: #666;
}

#sendBtnArea {
	float: right;
	padding: 4px 0;
	font-size: 12px;
	color: #666;
	width: 100%;
}

#sendBtn {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #666;
	border-radius: 3px;
	padding: 4px 20px;
	margin: 0 30px 0 10px;
	font-size: 13px
}

.msgLine {
	color: #666;
	font-size: 14px;
	position: relative;
	padding: 3px;
	margin: 15px 10px;
	overflow: hidden;
}

.userFace {
	border-radius: 50%;
}

.userInfo {
	position: relative;
	top: -12px;
	margin-left: 10px;
}

.msgContent {
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	line-height: 22px;
	background-color: #2196F3;
	display: table;
	border-radius: 5px;
	max-width: 500px;
	color: #fff;
	margin-left: 45px;
}

.msgContent::selection {
	background-color: #f0f0f0;
	color: #666;
}

#rightSide {
	background-color: #f0f0f0;
    float: left;
    box-sizing: border-box;
    height: 100%;
}

.msgLine.me>.msgContent {
	float: right;
	background-color: #dcdcdc;
	color: #666;
	margin-right: 45px;
	transform: scale(1);
    transition: transform 250ms;
}
.msgContentBig{
	transform: scale(1.3,1.3)!important;
	transition: transform 250ms
}

.msgLine.me>.msgContent::selection {
	background-color: #fff;
}

.msgLine.me>.userFace {
	float: right;
}

.msgLine.me .userInfo {
	margin-right: 10px;
}

.msgLine.me>.userFaceContainer {
	text-align: right;
}

#tips {
	font-size: 13px;
	color: #666;
}

#userListTitle {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 20px 0 0px 0px;
	color: #666;
}

#logoTxt {
	padding: 8px 0 0 8px;
	display: inline-block;
	color: #0f88eb
}

.userItem {
	margin: 15px 0;
	padding: 5px 0 5px 40px;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.userItem>img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.userItem>.username {
	position: relative;
	top: -12px;
	color: #666;
	font-size: 14;
}

.selectUserItem {
	background-color: #eee;
}

#logoContainer>img {
	border-radius: 50%;
	position: absolute;
	top: 8px;
	left: 50px;
	width: 70px;
	height: 70px;
}

#logoUsername {
	position: relative;
	left: 100px;
	top: 10px;
	font-size: 17px;
	font-family: "华康少女文字W5";
}

#exitBtn {
	float: right;
	font-size: 16px;
	position: relative;
	top: 15px;
	right: 20px;
	cursor: pointer;
}

#autoScollBtn {
	position: relative;
	top: 2px;
	margin-left: 30px;
}

#sendBtnDiv {
	float: right;
}

.loginTime {
	font-size: 12px;
	color: #666;
	position: relative;
	top: -12px;
	left: 20px;
}
.tool{
	user-select:none;
}
.tContainer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: auto;
	margin: 4px 1px;
	padding: 1px;
	border: none;
	background: none;
}

.toolBold {
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url(../img/tool.png);
	cursor: pointer;
}

.toolColor {
	background-position: -720px 0;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url(../img/tool.png);
	position: relative;
	top: 1px;
	cursor: pointer;
}

.toolEmotion {
	background-position: -60px -20px;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url(../img/tool.png);
	cursor: pointer;
}

.toolImage {
	
}

.qqFace {
	margin-top: 4px;
	background: #fff;
	padding: 2px;
	border: 1px #dfe6f6 solid;
	top: -140px !important;
	left: 10px !important;
}

.qqFace table td {
	padding: 0px;
}

.qqFace table td img {
	cursor: pointer;
	border: 1px #fff solid;
}

.qqFace table td img:hover {
	border: 1px #0066cc solid;
}
.controlEmotion{
	position: absolute;
	width: 22px;
	height: 22px;
}
.getBold{
	background-color: #D5E1F2
}