.bottomArea {
	width: 1300px;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}

.copyRightLogo {
	text-align: center;
}

.copyRight {
	text-align: center;
	color: #666;
	font-size: 13px;
	padding: 20px 0;
}

.bottomArea img {
	width: 100px;
	border: none;
}

@media screen and (max-width:720px) and (min-width:320px) {
	.bottomArea {
		width: 100%;
	}
}

@media screen and (max-width:900px) and (min-width:720px) {
	.bottomArea {
		width: 100%;
	}
}