#container {
	margin: 0 auto;
	cursor: pointer;
}

.carouselFigure {
	position: relative;
	width: 1130px;
	overflow: hidden;
	margin: 0 auto;
}

.cfBody {
	position: relative;
	top: 0;
	left: 0;
	transition: left 500ms;
}

.cfRow {
	
}

.cfItem {
	width: 100%;
}

.cfItem>img {
	width: 100%;
}

.selectBar {
	position: absolute;
	right: 20px;
	bottom: 10px;
	z-index: 10;
}

.selectButton {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 10px;
	margin-right: 7px;
	cursor: pointer;
}

.selectBtnClick {
	background-color: #FD4C5D;
	width: 20px;
}

@media screen and (max-width:720px) and (min-width:320px) {
}

@media screen and (max-width:900px) and (min-width:720px) {
}